<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <div class="row">
        <img style="width: 464px" src="./assets/img/vTrainer-Logo.png" />
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Crear una Cuenta</h1>
            </div>
            <form
              class="user"
              [formGroup]="registerForm"
              (ngSubmit)="register()"
            >
              <div class="form-group">
                <input
                  type="text"
                  class="form-control form-control-user"
                  formControlName="name"
                  placeholder="Nombre"
                />
                <div *ngIf="registerForm.get('name')?.touched">
                  <div
                    *ngIf="registerForm.get('name')?.errors?.['required']"
                    class="text-danger"
                  >
                    El nombre es obligatorio.
                  </div>
                  <div
                    *ngIf="registerForm.get('name')?.errors?.['minlength']"
                    class="text-danger"
                  >
                    El nombre debe tener al menos 2 caracteres.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control form-control-user"
                  formControlName="email"
                  placeholder="Email"
                />
                <div *ngIf="registerForm.get('email')?.touched">
                  <div
                    *ngIf="registerForm.get('email')?.errors?.['required']"
                    class="text-danger"
                  >
                    El email es obligatorio.
                  </div>
                  <div
                    *ngIf="registerForm.get('email')?.errors?.['email']"
                    class="text-danger"
                  >
                    Debe ser un email válido.
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input
                    type="password"
                    class="form-control form-control-user"
                    formControlName="password"
                    placeholder="Contraseña"
                  />
                  <div *ngIf="registerForm.get('password')?.touched">
                    <div
                      *ngIf="registerForm.get('password')?.errors?.['required']"
                      class="text-danger"
                    >
                      La contraseña es obligatoria.
                    </div>
                    <div
                      *ngIf="registerForm.get('password')?.errors?.['minlength']"
                      class="text-danger"
                    >
                      La contraseña debe tener al menos 6 caracteres.
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <input
                    type="password"
                    class="form-control form-control-user"
                    formControlName="passwordConfirmation"
                    placeholder="Repetir Contraseña"
                  />
                  <div
                    *ngIf="
                      registerForm.get('passwordConfirmation')?.touched &&
                      registerForm.errors?.['notSame']
                    "
                    class="text-danger"
                  >
                    Las contraseñas no coinciden.
                  </div>
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-primary btn-user btn-block"
                [disabled]="!registerForm.valid"
              >
                Registro
              </button>
            </form>
            <hr />
            <div class="text-center">
              <a class="small" routerLink="/login"
                >¿Tienes una cuenta? Iniciar Sesión!</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
