.btn-xl {
  padding: 1rem 1.5rem; /* Aumenta el padding para un botón más grande */
  font-size: 1.25rem; /* Aumenta el tamaño de la fuente */
  border-radius: 0.5rem; /* Ajusta el radio del borde para mantener la proporción */
}
