<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      Bienvenido a Voley Trainer
    </div>
    <div class="card-body">
      <h5 class="card-title">¡Saludos!</h5>
      <p class="card-text">
        Te damos la bienvenida a la primera versión de Voley Trainer, tu
        asistente digital para la gestión y el seguimiento del entrenamiento en
        voleibol.
      </p>
      <p class="card-text">
        En la sección de <strong>Sesion de Entrenamientos</strong>, podrás ver
        las sesiones de entrenamientos asignadas por el entrenador de tu equipo
        .
      </p>

      <p class="card-text">
        Estamos comprometidos en apoyarte en la tarea de llevar a tu equipo al
        siguiente nivel.
      </p>
    </div>
  </div>
</div>
