.card-entrenamiento {
  border: 1px solid rgb(201, 116, 4); /* Borde verde */
  margin-bottom: 15px; /* Margen para separar las cartas */
}
.lista-entrenamientos {
  max-height: 800px; /* Ajusta este valor según la altura de tus tarjetas */
  overflow-y: auto;  /* Habilita el scroll vertical si el contenido excede la altura máxima */
}


.etiqueta {
  display: inline-block;
  font-size: 0.7em; /* Más pequeño que antes */
  padding: 1px 6px; /* Menos padding */
  margin-right: 3px; /* Menos margen */
  background-color: rgb(201, 116, 4);
  color: white;
  border-radius: 15px; /* Bordes redondeados para las etiquetas */
}
.fc .fc-timegrid-slot, .fc .fc-daygrid-day {
  height: 100px; /* Aumenta la altura de las celdas del calendario */
}

