<div id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul
      class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
      id="accordionSidebar"
    >
      <!-- Sidebar - Brand -->
      <a
        class="sidebar-brand d-flex align-items-center justify-content-center"
        href="index.html"
      >
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-volleyball-ball"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Voley Trainer</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0" />

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/entrenador/main']">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <!-- Additional Links -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/entrenador/equipo']">
          <i class="fas fa-fw fa-link"></i>
          <span>Equipo</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/entrenador/jugadores']">
          <i class="fas fa-fw fa-link"></i>
          <span>Jugadores</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/entrenador/entrenamientos']">
          <i class="fas fa-fw fa-link"></i>
          <span>Entrenamientos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="link4.html">
          <i class="fas fa-fw fa-link"></i>
          <span>Link 4</span>
        </a>
      </li>

      <!-- Rest of your sidebar links -->
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="container mt-4"></div>
          <router-outlet> </router-outlet>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
</div>
