<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <img
        src="./assets/img/404.png"
        alt="404 - Not Found"
        class="img-fluid"
        style="max-width: 50%; height: auto"
      />
      <h1 class="mt-4">Página no encontrada</h1>
      <p class="lead">
        Lo sentimos, la página que estás buscando no existe o ha sido movida.
      </p>
      <a class="btn btn-primary" (click)="inicio()">Volver al inicio</a>
    </div>
  </div>
</div>
