<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      Bienvenido a Voley Trainer
    </div>
    <div class="card-body">
      <h5 class="card-title">¡Saludos!</h5>
      <p class="card-text">
        Te damos la bienvenida a la primera versión de Voley Trainer, tu
        asistente digital para la gestión y el seguimiento del entrenamiento en
        voleibol.
      </p>
      <p class="card-text">
        En la sección de <strong>Jugadores</strong>, podrás dar de alta a los
        jugadores de tu equipo. Cada jugador recibirá un código único con el
        cual podrá registrarse en la aplicación y acceder a información
        relevante para su desarrollo y entrenamiento.
      </p>
      <p class="card-text">
        Además, podrás registrar <strong>entrenamientos</strong> y
        <strong>sesiones de entrenamiento</strong>, facilitando la organización
        y el seguimiento de las actividades planificadas. Próximamente
        agregaremos más funcionalidades para enriquecer tu experiencia y
        brindarte herramientas aún más poderosas para la gestión de tu equipo.
      </p>
      <p class="card-text">
        Estamos comprometidos en apoyarte en la tarea de llevar a tu equipo al
        siguiente nivel. ¡Explora todas las funciones que Voley Trainer tiene
        para ofrecerte!
      </p>
    </div>
  </div>
</div>
